# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if you use npm later)
node_modules/
dist/
build/

# Editor folders
.vscode/
.idea/

# Backup files
*.swp
*.tmp
*.bak
*~

# Environment variables (if needed later)
.env
